.container {
	display: grid;
	grid-template-rows: 10% 50% 40%;
	grid-template-columns: 15% auto 15%;
	width: 100vw;
	height: 100vh;
}

.header {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

.sidebar {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;

	overflow-y: scroll;
	text-align: left;
}

.chart {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.legend {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
}

/*.info {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: left;
	overflow-y: scroll;
}*/

.table {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: left;
}

a {
	color: inherit;
}