.sidebar {
	grid-area: sidebar;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	text-align: right;
	align-items: center;
	padding: 5px;
}

.sidebaritem {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	text-align: center;

}

.sidebaritem:hover {
  background: rgba(200, 200, 200, 0.2);

}

.sidebarcell{
	display: grid;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
	outline: none;
}